<h2>Products</h2>
<div *ngFor="let product of products">

    <h3>
        <!--[ ] :- property binding syntax -->
        <div class="d-flex g-6 align-center justify-start">

            <a class="seprator" [title]="product.name + ' details' " [routerLink]="['/products', product.id]" >
                {{product.name}}
            </a>
            <p class="price">$ {{product.price}}</p>
        </div>
        <p *ngIf="product.description">
            Description: {{product.description}}
        </p>
        <div class="d-flex g-6">
            <p>
                <button type="button" (click)="share()">
                    Share
                </button>
            </p>
    
            <app-product-alerts [product]="product" (notify)="onNotify()">
    
            </app-product-alerts>

        </div>
    </h3>

    <hr>
</div>

<!--*ngFor directive  the <div> repeats for each product in the list-->
<!--*ngIf diective so that Angular only creates the <p> element if the current product has a description. (if the object has property.)-->

<!--

    Event binding is the one-way data binding which sends the value from the view to the component 
    which is in contrast to the 
    property binding where we used to send the data from component to the view.

-->
